/* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-p290@global/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p290@global/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1; }

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p290@global/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-p290@global/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.2-p290@global/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.2-p290@global/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 101, ../../../../../../.rvm/gems/ruby-1.9.2-p290@global/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.2-p290@global/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 114, ../../../../../../.rvm/gems/ruby-1.9.2-p290@global/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'OpenSansLight';
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Light-webfont.svg#OpenSansLight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansLightItalic';
  src: url("../fonts/OpenSans-LightItalic-webfont.eot");
  src: url("../fonts/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-LightItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-LightItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansRegular';
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansItalic';
  src: url("../fonts/OpenSans-Italic-webfont.eot");
  src: url("../fonts/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Italic-webfont.woff") format("woff"), url("../fonts/OpenSans-Italic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansSemibold';
  src: url("../fonts/OpenSans-Semibold-webfont.eot");
  src: url("../fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold-webfont.woff") format("woff"), url("../fonts/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansSemiboldItalic';
  src: url("../fonts/OpenSans-SemiboldItalic-webfont.eot");
  src: url("../fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiboldItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-SemiboldItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansBold';
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#OpenSansBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansBoldItalic';
  src: url("../fonts/OpenSans-BoldItalic-webfont.eot");
  src: url("../fonts/OpenSans-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-BoldItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-BoldItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansExtrabold';
  src: url("../fonts/OpenSans-ExtraBold-webfont.eot");
  src: url("../fonts/OpenSans-ExtraBold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBold-webfont.woff") format("woff"), url("../fonts/OpenSans-ExtraBold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansExtraboldItalic';
  src: url("../fonts/OpenSans-ExtraBoldItalic-webfont.eot");
  src: url("../fonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBoldItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-ExtraBoldItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 3, ../sass/library/_typography.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, dialog {
  display: block; }

/* line 4, ../sass/library/_typography.scss */
audio[controls], canvas, video {
  display: inline-block;
  *display: inline;
  zoom: 1; }

/* line 8, ../sass/library/_typography.scss */
html {
  height: 100%;
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%; }

/* Force scrollbar in non-IE and Remove iOS text size adjust without disabling user zoom */
/* line 15, ../sass/library/_typography.scss */
body {
  margin: 0;
  min-height: 100%;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font: 12px/2.05 "OpenSansRegular";
  padding: 3em; }

/* line 27, ../sass/library/_typography.scss */
h1 {
  font: 5em/1.25 "OpenSansLight";
  margin: 0.75em 0 0.38em;
  text-transform: uppercase; }

/* line 28, ../sass/library/_typography.scss */
h2 {
  font: 4em/1.25 "OpenSansLight";
  margin: 1.00em 0 0.50em; }

/* line 29, ../sass/library/_typography.scss */
h3 {
  font: 3em/1.25 "OpenSansLightItalic";
  margin: 1.50em 0 0.75em; }

/* line 30, ../sass/library/_typography.scss */
h4 {
  font: 2em/1.25 "OpenSansSemiBold";
  margin: 2.00em 0 1.00em; }

/* line 31, ../sass/library/_typography.scss */
h5 {
  font: 1.5em/1.25 "OpenSansBoldItalic";
  margin: 3.00em 0 1.50em; }

/* line 32, ../sass/library/_typography.scss */
h6 {
  font: 1em/1.25 "OpenSansBold";
  margin: 4.00em 0 2.00em;
  text-transform: uppercase; }

/* line 33, ../sass/library/_typography.scss */
p, ul, ol, pre, td, th, label {
  font-size: 1.33em;
  line-height: 2.05;
  margin: 0 0 1.5em; }

/* line 41, ../sass/library/_typography.scss */
ul {
  list-style: disc;
  list-style-position: inside; }

/* line 45, ../sass/library/_typography.scss */
ol {
  list-style: decimal;
  list-style-position: inside; }

/* line 49, ../sass/library/_typography.scss */
li ul, li ol {
  margin: 0 1.5em; }

/* line 52, ../sass/library/_typography.scss */
dl dd {
  margin-left: 1.5em; }

/* line 58, ../sass/library/_typography.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.5em; }

/* line 63, ../sass/library/_typography.scss */
th {
  text-align: left; }

/* line 66, ../sass/library/_typography.scss */
tr, th, td {
  padding-right: 1.5em;
  border-bottom: 0 solid #333333; }

/* line 73, ../sass/library/_typography.scss */
form {
  margin: 0; }

/* line 76, ../sass/library/_typography.scss */
fieldset {
  border: 0;
  padding: 0; }

/* line 80, ../sass/library/_typography.scss */
textarea {
  overflow: auto;
  vertical-align: top; }

/* line 84, ../sass/library/_typography.scss */
legend {
  *margin-left: -0.75em; }

/* line 87, ../sass/library/_typography.scss */
button, input, select, textarea {
  vertical-align: baseline;
  *vertical-align: middle; }

/* IE7 and older */
/* line 91, ../sass/library/_typography.scss */
button, input {
  line-height: normal;
  *overflow: visible; }

/* line 95, ../sass/library/_typography.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

/* line 99, ../sass/library/_typography.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box; }

/* line 102, ../sass/library/_typography.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 108, ../sass/library/_typography.scss */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 111, ../sass/library/_typography.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 117, ../sass/library/_typography.scss */
blockquote, q {
  quotes: none; }

/* line 120, ../sass/library/_typography.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* line 124, ../sass/library/_typography.scss */
blockquote, q, cite {
  font-family: "OpenSansLightItalic"; }

/* line 127, ../sass/library/_typography.scss */
blockquote {
  padding-left: 1.5em;
  border-left: 3px solid #0099FF;
  margin: 2em 0; }

/* line 132, ../sass/library/_typography.scss */
blockquote > p {
  padding: 0; }

/* line 138, ../sass/library/_typography.scss */
a {
  text-decoration: none;
  color: #c47529; }

/* line 141, ../sass/library/_typography.scss */
a:hover {
  text-decoration: underline; }

/* line 144, ../sass/library/_typography.scss */
a:focus {
  outline: thin dotted; }

/* line 147, ../sass/library/_typography.scss */
a:hover, a:active {
  outline: none; }

/* Better CSS Outline Suppression */
/* line 153, ../sass/library/_typography.scss */
figure {
  margin: 0; }

/* line 156, ../sass/library/_typography.scss */
img, object, embed, video {
  max-width: 100%;
  width: 100%; }

/* Fluid images */
/* line 160, ../sass/library/_typography.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

/* Improve IE's resizing of images */
/* line 164, ../sass/library/_typography.scss */
svg:not(:root) {
  overflow: hidden; }

/* Correct IE9 overflow */
/* line 170, ../sass/library/_typography.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted #333;
  cursor: help; }

/* line 177, ../sass/library/_typography.scss */
ins, mark {
  text-decoration: none; }

/* line 180, ../sass/library/_typography.scss */
mark {
  background: #0099ff; }

/* line 183, ../sass/library/_typography.scss */
ins {
  background: #0099ff; }

/* line 186, ../sass/library/_typography.scss */
del {
  text-decoration: line-through; }

/* line 189, ../sass/library/_typography.scss */
::-moz-selection {
  background: #0099FF;
  color: #fff;
  text-shadow: none; }

/* selected text */
/* line 194, ../sass/library/_typography.scss */
::selection {
  background: #0099FF;
  color: #fff;
  text-shadow: none; }

/* selected text */
/* line 202, ../sass/library/_typography.scss */
strong, b, dt {
  font-weight: bold; }

/* line 205, ../sass/library/_typography.scss */
dfn {
  font-style: italic; }

/* line 208, ../sass/library/_typography.scss */
var, address {
  font-style: normal; }

/* line 211, ../sass/library/_typography.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* Position 'sub' and 'sup' without affecting line-height */
/* line 217, ../sass/library/_typography.scss */
sup {
  top: -0.5em; }

/* Move superscripted text up */
/* line 220, ../sass/library/_typography.scss */
sub {
  bottom: -0.25em; }

/* Move subscripted text down */
/* line 223, ../sass/library/_typography.scss */
span.amp {
  font-family: Adobe Caslon Pro, Baskerville, "Goudy Old Style", "Palatino", "Palatino Linotype", "Book Antiqua", Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 110%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* Best available ampersand */
/* line 70, ../sass/library/_grid.scss */
img, object, embed {
  max-width: 100%; }

/* line 74, ../sass/library/_grid.scss */
img {
  height: auto; }

/* line 3, ../sass/screen.scss */
.contents {
  width: 100%;
  max-width: 1140px;
  min-width: 755px;
  margin: 0 auto;
  overflow: hidden; }
  @media handheld, only screen and (max-width: 767px) {
    /* line 3, ../sass/screen.scss */
    .contents {
      width: 100%;
      min-width: 0;
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 0px;
      padding-right: 0px; } }

/* line 7, ../sass/screen.scss */
header {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3em;
  padding-bottom: 3em; }
  @media handheld, only screen and (max-width: 767px) {
    /* line 7, ../sass/screen.scss */
    header {
      width: 100%;
      min-width: 0;
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 0px;
      padding-right: 0px; } }
  /* line 12, ../sass/screen.scss */
  header #logo {
    margin-right: 3.8%;
    float: left;
    min-height: 1px;
    width: 22.05%;
    height: 5em;
    background: url("../img/ui.svg") no-repeat center;
    background-size: contain;
    text-indent: -100%; }
    @media handheld, only screen and (max-width: 767px) {
      /* line 12, ../sass/screen.scss */
      header #logo {
        width: auto;
        float: none;
        margin-left: 0px;
        margin-bottom: 20px;
        margin-right: 0px;
        padding-left: 20px;
        padding-right: 20px; } }
  /* line 20, ../sass/screen.scss */
  header #menus {
    margin-right: 3.8%;
    float: left;
    min-height: 1px;
    width: 74.05%;
    margin-right: 0px; }
    @media handheld, only screen and (max-width: 767px) {
      /* line 20, ../sass/screen.scss */
      header #menus {
        width: auto;
        float: none;
        margin-left: 0px;
        margin-bottom: 20px;
        margin-right: 0px;
        padding-left: 20px;
        padding-right: 20px; } }
