/* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-p290@global/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p290@global/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1; }

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p290@global/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-p290@global/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.2-p290@global/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.2-p290@global/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 101, ../../../../../../.rvm/gems/ruby-1.9.2-p290@global/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.2-p290@global/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 114, ../../../../../../.rvm/gems/ruby-1.9.2-p290@global/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'OpenSansLight';
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Light-webfont.svg#OpenSansLight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansLightItalic';
  src: url("../fonts/OpenSans-LightItalic-webfont.eot");
  src: url("../fonts/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-LightItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-LightItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansRegular';
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansItalic';
  src: url("../fonts/OpenSans-Italic-webfont.eot");
  src: url("../fonts/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Italic-webfont.woff") format("woff"), url("../fonts/OpenSans-Italic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansSemibold';
  src: url("../fonts/OpenSans-Semibold-webfont.eot");
  src: url("../fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold-webfont.woff") format("woff"), url("../fonts/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansSemiboldItalic';
  src: url("../fonts/OpenSans-SemiboldItalic-webfont.eot");
  src: url("../fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiboldItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-SemiboldItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansBold';
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#OpenSansBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansBoldItalic';
  src: url("../fonts/OpenSans-BoldItalic-webfont.eot");
  src: url("../fonts/OpenSans-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-BoldItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-BoldItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansExtrabold';
  src: url("../fonts/OpenSans-ExtraBold-webfont.eot");
  src: url("../fonts/OpenSans-ExtraBold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBold-webfont.woff") format("woff"), url("../fonts/OpenSans-ExtraBold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansExtraboldItalic';
  src: url("../fonts/OpenSans-ExtraBoldItalic-webfont.eot");
  src: url("../fonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBoldItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-ExtraBoldItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 2, ../sass/library/_typography.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, dialog {
  display: block; }

/* line 3, ../sass/library/_typography.scss */
audio[controls], canvas, video {
  display: inline-block;
  *display: inline;
  zoom: 1; }

/* line 6, ../sass/library/_typography.scss */
html {
  height: 100%;
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%; }

/* Force scrollbar in non-IE and Remove iOS text size adjust without disabling user zoom */
/* line 7, ../sass/library/_typography.scss */
body {
  margin: 0;
  min-height: 100%;
  font-family: 'OpenSansRegular';
  font-size: 1em;
  line-height: 1.5em;
  padding: 3em; }

/* line 21, ../sass/library/_typography.scss */
h1 {
  font-size: 3.750em;
  line-height: 1.20em;
  margin: 0.00em 0 0.30em;
  font-family: 'OpenSansLight'; }

/* line 22, ../sass/library/_typography.scss */
h2 {
  font-size: 3.000em;
  line-height: 1.25em;
  margin: 0.60em 0 0.40em; }

/* line 23, ../sass/library/_typography.scss */
h3 {
  font-size: 2.250em;
  line-height: 1.35em;
  margin: 0.78em 0 0.60em; }

/* line 24, ../sass/library/_typography.scss */
h4 {
  font-size: 1.500em;
  line-height: 1.50em;
  margin: 1.10em 0 0.95em; }

/* line 25, ../sass/library/_typography.scss */
h5 {
  font-size: 1.250em;
  line-height: 1.50em;
  margin: 1.55em 0 1.15em; }

/* line 26, ../sass/library/_typography.scss */
h6 {
  font-size: 1.000em;
  line-height: 1.50em;
  margin: 2.30em 0 1.50em; }

/* line 27, ../sass/library/_typography.scss */
p, ul, ol, blockquote, pre, td, th, label {
  margin: 0 0 1.5em; }

/* line 30, ../sass/library/_typography.scss */
ul {
  list-style: disc;
  list-style-position: inside; }

/* line 31, ../sass/library/_typography.scss */
ol {
  list-style: decimal;
  list-style-position: inside; }

/* line 32, ../sass/library/_typography.scss */
li ul, li ol {
  margin: 0 1.5em; }

/* line 33, ../sass/library/_typography.scss */
dl dd {
  margin-left: 1.5em; }

/* line 36, ../sass/library/_typography.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.5em; }

/* line 37, ../sass/library/_typography.scss */
th {
  text-align: left; }

/* line 38, ../sass/library/_typography.scss */
tr, th, td {
  padding-right: 1.5em;
  border-bottom: 0 solid #333; }

/* line 41, ../sass/library/_typography.scss */
form {
  margin: 0; }

/* line 42, ../sass/library/_typography.scss */
fieldset {
  border: 0;
  padding: 0; }

/* line 43, ../sass/library/_typography.scss */
textarea {
  overflow: auto;
  vertical-align: top; }

/* line 44, ../sass/library/_typography.scss */
legend {
  *margin-left: -0.75em; }

/* line 45, ../sass/library/_typography.scss */
button, input, select, textarea {
  vertical-align: baseline;
  *vertical-align: middle; }

/* IE7 and older */
/* line 46, ../sass/library/_typography.scss */
button, input {
  line-height: normal;
  *overflow: visible; }

/* line 47, ../sass/library/_typography.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

/* line 48, ../sass/library/_typography.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box; }

/* line 49, ../sass/library/_typography.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 50, ../sass/library/_typography.scss */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 51, ../sass/library/_typography.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 54, ../sass/library/_typography.scss */
blockquote, q {
  quotes: none; }

/* line 55, ../sass/library/_typography.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* line 56, ../sass/library/_typography.scss */
blockquote, q, cite {
  font-style: italic; }

/* line 57, ../sass/library/_typography.scss */
blockquote {
  padding-left: 1.5em;
  border-left: 3px solid #0099FF; }

/* line 58, ../sass/library/_typography.scss */
blockquote > p {
  padding: 0; }

/* line 61, ../sass/library/_typography.scss */
a {
  text-decoration: none;
  color: #c47529; }

/* line 62, ../sass/library/_typography.scss */
a:hover {
  text-decoration: underline; }

/* line 63, ../sass/library/_typography.scss */
a:focus {
  outline: thin dotted; }

/* line 64, ../sass/library/_typography.scss */
a:hover, a:active {
  outline: none; }

/* Better CSS Outline Suppression */
/* line 67, ../sass/library/_typography.scss */
figure {
  margin: 0; }

/* line 68, ../sass/library/_typography.scss */
img, object, embed, video {
  max-width: 100%;
  _width: 100%; }

/* Fluid images */
/* line 69, ../sass/library/_typography.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

/* Improve IE's resizing of images */
/* line 70, ../sass/library/_typography.scss */
svg:not(:root) {
  overflow: hidden; }

/* Correct IE9 overflow */
/* line 73, ../sass/library/_typography.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted #333;
  cursor: help; }

/* line 76, ../sass/library/_typography.scss */
ins, mark {
  text-decoration: none; }

/* line 77, ../sass/library/_typography.scss */
mark {
  background: #0099FF; }

/* line 78, ../sass/library/_typography.scss */
ins {
  background: #0099FF; }

/* line 79, ../sass/library/_typography.scss */
del {
  text-decoration: line-through; }

/* line 80, ../sass/library/_typography.scss */
::-moz-selection {
  background: #0099FF;
  color: #fff;
  text-shadow: none; }

/* selected text */
/* line 81, ../sass/library/_typography.scss */
::selection {
  background: #0099FF;
  color: #fff;
  text-shadow: none; }

/* selected text */
/* line 84, ../sass/library/_typography.scss */
strong, b, dt {
  font-weight: bold; }

/* line 85, ../sass/library/_typography.scss */
dfn {
  font-style: italic; }

/* line 86, ../sass/library/_typography.scss */
var, address {
  font-style: normal; }

/* line 87, ../sass/library/_typography.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* Position 'sub' and 'sup' without affecting line-height */
/* line 88, ../sass/library/_typography.scss */
sup {
  top: -0.5em; }

/* Move superscripted text up */
/* line 89, ../sass/library/_typography.scss */
sub {
  bottom: -0.25em; }

/* Move subscripted text down */
/* line 90, ../sass/library/_typography.scss */
span.amp {
  font-family: Adobe Caslon Pro, Baskerville, "Goudy Old Style", "Palatino", "Palatino Linotype", "Book Antiqua", Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 110%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* Best available ampersand */
