html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
blockquote *,
#header-menu li a,
#mobile ul li a,
#footer-menu > li > a,
#footer-menu > li > ul > li a {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
@font-face {
  font-family: 'OpenSansLight';
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/OpenSans-Light-webfont.woff") format('woff'), url("../fonts/OpenSans-Light-webfont.ttf") format('truetype'), url("../fonts/OpenSans-Light-webfont.svg#OpenSansLight") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansLightItalic';
  src: url("../fonts/OpenSans-LightItalic-webfont.eot");
  src: url("../fonts/OpenSans-LightItalic-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/OpenSans-LightItalic-webfont.woff") format('woff'), url("../fonts/OpenSans-LightItalic-webfont.ttf") format('truetype'), url("../fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansRegular';
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/OpenSans-Regular-webfont.woff") format('woff'), url("../fonts/OpenSans-Regular-webfont.ttf") format('truetype'), url("../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansItalic';
  src: url("../fonts/OpenSans-Italic-webfont.eot");
  src: url("../fonts/OpenSans-Italic-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/OpenSans-Italic-webfont.woff") format('woff'), url("../fonts/OpenSans-Italic-webfont.ttf") format('truetype'), url("../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansSemibold';
  src: url("../fonts/OpenSans-Semibold-webfont.eot");
  src: url("../fonts/OpenSans-Semibold-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/OpenSans-Semibold-webfont.woff") format('woff'), url("../fonts/OpenSans-Semibold-webfont.ttf") format('truetype'), url("../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansSemiboldItalic';
  src: url("../fonts/OpenSans-SemiboldItalic-webfont.eot");
  src: url("../fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/OpenSans-SemiboldItalic-webfont.woff") format('woff'), url("../fonts/OpenSans-SemiboldItalic-webfont.ttf") format('truetype'), url("../fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansBold';
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/OpenSans-Bold-webfont.woff") format('woff'), url("../fonts/OpenSans-Bold-webfont.ttf") format('truetype'), url("../fonts/OpenSans-Bold-webfont.svg#OpenSansBold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansBoldItalic';
  src: url("../fonts/OpenSans-BoldItalic-webfont.eot");
  src: url("../fonts/OpenSans-BoldItalic-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/OpenSans-BoldItalic-webfont.woff") format('woff'), url("../fonts/OpenSans-BoldItalic-webfont.ttf") format('truetype'), url("../fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansExtrabold';
  src: url("../fonts/OpenSans-ExtraBold-webfont.eot");
  src: url("../fonts/OpenSans-ExtraBold-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/OpenSans-ExtraBold-webfont.woff") format('woff'), url("../fonts/OpenSans-ExtraBold-webfont.ttf") format('truetype'), url("../fonts/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansExtraboldItalic';
  src: url("../fonts/OpenSans-ExtraBoldItalic-webfont.eot");
  src: url("../fonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/OpenSans-ExtraBoldItalic-webfont.woff") format('woff'), url("../fonts/OpenSans-ExtraBoldItalic-webfont.ttf") format('truetype'), url("../fonts/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Entypo';
  src: url("../fonts/entypo.eot");
  src: url("../fonts/entypo.eot?#iefix") format('embedded-opentype'), url("../fonts/entypo.woff") format('woff'), url("../fonts/entypo.ttf") format('truetype'), url("../fonts/entypo.svg#Entypo") format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font: 100%/1.5 'OpenSansRegular', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
h1 {
  font: 2.25em/1.3 'OpenSansLight', Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0 0 0.6666666667em;
}
h2,
blockquote * {
  font: 1.8em/1.3 'OpenSansLight', Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0 0 0.8333333333em;
}
h3 {
  font: 1.25em/1.34 'OpenSansSemiBold', Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0 0 1.2em;
}
h4 {
  font: 1.152em/1.67 'OpenSansLightItalic', Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0 0 1.30208333333em;
}
h5 {
  font: 1em/1.77 'OpenSansSemibold', Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0 0 1.5em;
}
h6,
#header-menu li a,
#mobile ul li a,
#footer-menu > li > a,
#footer-menu > li > ul > li a {
  font: 0.8em/1.9 'OpenSansLight', Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0 0 1.875em;
  text-transform: uppercase;
}
hgroup {
  margin: 1.5em 0;
}
hgroup > * {
  padding: 0;
  margin: 0;
}
ul li:first-child hgroup,
ol li:first-child hgroup {
  margin-top: 0;
}
ul li:last-child hgroup,
ol li:last-child hgroup {
  margin-bottom: 0;
}
p,
ul,
ol,
pre,
td,
th,
blockquote {
  margin: 1.5em 0;
}
ul,
ol {
  list-style-position: inside;
}
.content ul {
  list-style-type: disc;
}
.content ol {
  list-style-type: decimal;
}
.content ul,
.content ol {
  list-style-position: outside;
  padding: 0 0 0 1.5em;
}
.content ul li:first-child > *:first-child,
.content ol li:first-child > *:first-child {
  margin-top: 0;
}
.content ul li:last-child > *:last-child,
.content ol li:last-child > *:last-child {
  margin-bottom: 0;
}
.content ol li > ol,
.content ul li > ol {
  list-style-type: lower-alpha;
}
.content ol li > ol li > ol,
.content ul li > ol li > ol {
  list-style-type: lower-roman;
}
blockquote * {
  position: relative;
  padding: 0 1.5em 0 1.5em;
  color: #333;
}
blockquote *:before,
blockquote *:after {
  position: relative;
  font-family: georgia;
  font-size: 2em;
  line-height: 0;
  color: #e6e6e6;
}
blockquote *:before {
  content: '“';
  top: 0.3em;
  left: -0.5em;
  margin: 0 -0.4em 0 0;
}
blockquote *:after {
  content: '”';
  right: -0.1em;
  bottom: -0.3em;
}
strong {
  font-family: 'OpenSansSemiBold', Helvetica, Arial, sans-serif;
  font-weight: normal;
}
em {
  font-family: 'OpenSansItalic', Helvetica, Arial, sans-serif;
  font-style: normal;
}
small {
  font: 0.75em/1.5 'OpenSansRegular', Helvetica, Arial, sans-serif;
}
a {
  color: #006dd9;
  text-decoration: none;
}
a.secondary-link {
  line-height: 2.4em;
}
a.secondary-link ~ .secondary-link {
  margin-left: 1.5em;
}
ul.list-unstyled {
  list-style-position: inside;
  list-style: none;
  padding: 0;
}
.sermon {
  display: table;
  width: 100%;
  margin-bottom: 1.5em;
  background: #fcfcfc;
  border: 0.125em solid #fff;
  -webkit-border-radius: 0.1875em;
  border-radius: 0.1875em;
  -webkit-box-shadow: 0 0 0.125em 0 #f2f2f2;
  box-shadow: 0 0 0.125em 0 #f2f2f2;
}
.sermon > * {
  display: table-cell;
}
.sermon .play {
  padding: 0.75em;
  border: 0.0625em solid #dde6ec;
  -webkit-border-radius: 0.1875em 0 0 0.1875em;
  border-radius: 0.1875em 0 0 0.1875em;
  -webkit-box-shadow: 0;
  box-shadow: 0;
  vertical-align: middle;
  text-align: center;
  background: #edf2f5;
}
.sermon .play .icon {
  font-family: 'Entypo';
  font-size: 2.5em;
  line-height: 0;
}
.sermon hgroup {
  padding: 0.75em;
  margin: 0;
}
html {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 0 60px;
  overflow: hidden;
}
body {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden !important;
}
#page-position {
  -webkit-transition: margin-left 0.15s ease-in-out;
  -moz-transition: margin-left 0.15s ease-in-out;
  -o-transition: margin-left 0.15s ease-in-out;
  -ms-transition: margin-left 0.15s ease-in-out;
  transition: margin-left 0.15s ease-in-out;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin-left: 0;
  -webkit-border-radius: 0.1875em;
  border-radius: 0.1875em;
}
#page-position.open-left {
  -webkit-transition: margin-left 0.15s ease-in-out;
  -moz-transition: margin-left 0.15s ease-in-out;
  -o-transition: margin-left 0.15s ease-in-out;
  -ms-transition: margin-left 0.15s ease-in-out;
  transition: margin-left 0.15s ease-in-out;
}
@media (max-width: 768px) {
  #page-position.open-left {
    margin-left: -50%;
  }
}
@media (max-width: 640px) {
  #page-position.open-left {
    margin-left: -80%;
  }
}
#page-position.open-right {
  -webkit-transition: margin-left 0.15s ease-in-out;
  -moz-transition: margin-left 0.15s ease-in-out;
  -o-transition: margin-left 0.15s ease-in-out;
  -ms-transition: margin-left 0.15s ease-in-out;
  transition: margin-left 0.15s ease-in-out;
}
@media (max-width: 768px) {
  #page-position.open-right {
    margin-left: 50%;
  }
}
@media (max-width: 640px) {
  #page-position.open-right {
    margin-left: 80%;
  }
}
#page-wrapper {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: #fff;
  -webkit-box-shadow: 0 0 3px 2px #000, 3px 0 0 0 #edf2f5 inset, -3px 0 0 0 #edf2f5 inset;
  box-shadow: 0 0 3px 2px #000, 3px 0 0 0 #edf2f5 inset, -3px 0 0 0 #edf2f5 inset;
  -webkit-border-radius: 0.1875em;
  border-radius: 0.1875em;
}
.outer {
  max-width: 64em;
  padding: 0 3em;
  margin: 0 auto;
  *zoom: 1;
}
.outer:before,
.outer:after {
  content: "";
  display: table;
}
.outer:after {
  clear: both;
}
@media (max-width: 768px) {
  .outer {
    padding: 0 0.875em;
  }
}
@media (max-width: 640px) {
  .outer {
    padding: 0 0.875em;
  }
}
.inner {
  display: block;
  width: 102.08333333333333%;
  margin: 0 -1.0416666666666665%;
  *width: 102.08333333333333% -correction;
  *margin: 0 -1.0416666666666665% -correction;
  *zoom: 1;
}
.inner:before,
.inner:after {
  content: "";
  display: table;
}
.inner:after {
  clear: both;
}
#header-wrapper {
  z-index: 1;
  position: fixed;
  width: 100%;
}
header {
  position: relative;
  width: 100%;
  background: rgba(252,252,252,0.96);
  border-top: 1px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15), 0 -10px 0 0 #333;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15), 0 -10px 0 0 #333;
}
@media (max-width: 768px) {
  header {
    -webkit-border-radius: 0.1875em 0.1875em 0 0;
    border-radius: 0.1875em 0.1875em 0 0;
  }
}
header a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#header-logo {
  display: inline;
  float: left;
  width: 14.583333333333334%;
  margin: 0 1.0416666666666665%;
  *width: 14.583333333333334% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
@media (max-width: 768px) {
  #header-logo {
    display: inline;
    float: left;
    width: 47.91666666666667%;
    margin: 0 1.0416666666666665%;
    *width: 47.91666666666667% -correction;
    *margin: 0 1.0416666666666665% -correction;
  }
}
#header-logo a {
  display: block;
  height: 1.5em;
  margin: 0.8em 0;
  background: url("../img/logo.svg") no-repeat;
  background-position: left center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  overflow: hidden;
  text-indent: -500%;
  color: transparent;
}
@media (max-width: 768px) {
  #header-logo a {
    background-position: center center;
  }
}
#header-menu {
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.0416666666666665%;
  *width: 81.25% -correction;
  *margin: 0 1.0416666666666665% -correction;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  *zoom: 1;
}
#header-menu:before,
#header-menu:after {
  content: "";
  display: table;
}
#header-menu:after {
  clear: both;
}
@media (max-width: 768px) {
  #header-menu {
    display: none;
  }
}
#header-menu li {
  float: left;
  margin: 0 0 0 2.5em;
}
#header-menu li a {
  padding: 0;
  color: #333;
  letter-spacing: 0.1em;
}
#header-menu li.current-menu-item a {
  color: #be1d2c;
}
#mobile-menu-toggle-left {
  display: none;
}
@media (max-width: 768px) {
  #mobile-menu-toggle-left {
    display: inline;
    float: left;
    width: 22.916666666666664%;
    margin: 0 1.0416666666666665%;
    *width: 22.916666666666664% -correction;
    *margin: 0 1.0416666666666665% -correction;
    font-family: 'Entypo';
    font-size: 4.5em;
    line-height: 0.69em;
    margin-bottom: -0.2em;
    text-align: left;
    color: #7d7d7d;
    text-shadow: 0 2px 0 #fff;
  }
}
#mobile-menu-toggle-right {
  display: none;
}
@media (max-width: 768px) {
  #mobile-menu-toggle-right {
    display: inline;
    float: left;
    width: 22.916666666666664%;
    margin: 0 1.0416666666666665%;
    *width: 22.916666666666664% -correction;
    *margin: 0 1.0416666666666665% -correction;
    font-family: 'Entypo';
    font-size: 3em;
    line-height: 1.1em;
    margin-bottom: -1em;
    text-align: right;
    color: #7d7d7d;
    text-shadow: 0 2px 0 #fff;
  }
}
#mobile {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: #333;
}
#mobile a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#mobile.open-right > *:first-child {
  display: block;
  width: 100%;
}
@media (max-width: 768px) {
  #mobile.open-left > *:nth-child(2) {
    display: block;
    width: 50%;
    margin-left: 50%;
  }
}
@media (max-width: 640px) {
  #mobile.open-left > *:nth-child(2) {
    display: block;
    width: 80%;
    margin-left: 20%;
  }
}
#mobile ul {
  display: none;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  position: relative;
  width: 100%;
  margin: 0;
  overflow: hidden;
  float: left;
  text-align: left;
  border-top: 0.0625em solid #262626;
  border-bottom: 0.0625em solid #404040;
  *zoom: 1;
}
#mobile ul:before,
#mobile ul:after {
  content: "";
  display: table;
}
#mobile ul:after {
  clear: both;
}
#mobile ul li {
  border-top: 0.0625em solid #404040;
  border-bottom: 0.0625em solid #262626;
}
#mobile ul li a {
  display: block;
  padding: 0.875em 1.5em;
  margin: 0;
  color: #ccc;
}
#mobile ul li a:hover {
  background: #303030;
}
#main {
  padding: 4.875em 0 3em;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #edf2f5;
}
@media (max-width: 768px) {
  #main {
    border: none;
    padding: 4.875em 0 1.5em;
  }
}
@media (max-width: 768px) {
  #main .outer {
    padding: 0 1.5em;
  }
}
footer {
  padding: 3em 0 1.5em;
  border-top: 1px solid #fff;
  color: #969696;
}
@media (max-width: 769px) {
  footer {
    display: none;
  }
}
#footer-logo {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.91666666666666% -correction;
  *margin: 0 1.0416666666666665% -correction;
  margin-bottom: 3em;
}
#footer-logo a {
  display: block;
  float: left;
  width: 7.5em;
  height: 3em;
  background: url("../img/logo-gray.svg") no-repeat left center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  overflow: hidden;
  text-indent: -500%;
  color: transparent;
}
#footer-menu {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.91666666666666% -correction;
  *margin: 0 1.0416666666666665% -correction;
  *zoom: 1;
  color: #969696;
}
#footer-menu:before,
#footer-menu:after {
  content: "";
  display: table;
}
#footer-menu:after {
  clear: both;
}
#footer-menu a {
  display: block;
  color: #969696;
}
#footer-menu a:hover {
  text-decoration: underline;
}
#footer-menu > li {
  float: left;
  margin: 0 2.5em 0 0;
}
#footer-menu > li:last-child {
  margin: 0;
}
#footer-menu > li > a {
  padding: 0;
  letter-spacing: 0.1em;
}
#footer-menu > li.current-menu-item a {
  color: #969696;
}
#footer-menu > li > ul > li a {
  padding: 0;
  margin: 0;
}
#footer-menu > li > ul > li.current-menu-item a {
  color: #969696;
}
.content-header {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.91666666666666% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
.content {
  display: inline;
  float: left;
  width: 64.58333333333334%;
  margin: 0 1.0416666666666665%;
  *width: 64.58333333333334% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
@media (max-width: 640px) {
  .content {
    display: inline;
    float: left;
    width: 97.91666666666666%;
    margin: 0 1.0416666666666665%;
    *width: 97.91666666666666% -correction;
    *margin: 0 1.0416666666666665% -correction;
  }
}
.content > *:first-child {
  margin-top: 0;
}
.content > *:last-child {
  margin-bottom: 0;
}
.sidebar {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  *width: 31.25% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
@media (max-width: 640px) {
  .sidebar {
    display: none;
  }
}
.sidebar > *:first-child {
  margin-top: 0;
}
.sidebar > *:last-child {
  margin-bottom: 0;
}
.sidebar ul li ul {
  margin-bottom: 0;
}
