html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
blockquote p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
@font-face {
  font-family: 'OpenSansLight';
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/OpenSans-Light-webfont.woff") format('woff'), url("../fonts/OpenSans-Light-webfont.ttf") format('truetype'), url("../fonts/OpenSans-Light-webfont.svg#OpenSansLight") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansLightItalic';
  src: url("../fonts/OpenSans-LightItalic-webfont.eot");
  src: url("../fonts/OpenSans-LightItalic-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/OpenSans-LightItalic-webfont.woff") format('woff'), url("../fonts/OpenSans-LightItalic-webfont.ttf") format('truetype'), url("../fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansRegular';
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/OpenSans-Regular-webfont.woff") format('woff'), url("../fonts/OpenSans-Regular-webfont.ttf") format('truetype'), url("../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansItalic';
  src: url("../fonts/OpenSans-Italic-webfont.eot");
  src: url("../fonts/OpenSans-Italic-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/OpenSans-Italic-webfont.woff") format('woff'), url("../fonts/OpenSans-Italic-webfont.ttf") format('truetype'), url("../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansSemibold';
  src: url("../fonts/OpenSans-Semibold-webfont.eot");
  src: url("../fonts/OpenSans-Semibold-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/OpenSans-Semibold-webfont.woff") format('woff'), url("../fonts/OpenSans-Semibold-webfont.ttf") format('truetype'), url("../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansSemiboldItalic';
  src: url("../fonts/OpenSans-SemiboldItalic-webfont.eot");
  src: url("../fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/OpenSans-SemiboldItalic-webfont.woff") format('woff'), url("../fonts/OpenSans-SemiboldItalic-webfont.ttf") format('truetype'), url("../fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansBold';
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/OpenSans-Bold-webfont.woff") format('woff'), url("../fonts/OpenSans-Bold-webfont.ttf") format('truetype'), url("../fonts/OpenSans-Bold-webfont.svg#OpenSansBold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansBoldItalic';
  src: url("../fonts/OpenSans-BoldItalic-webfont.eot");
  src: url("../fonts/OpenSans-BoldItalic-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/OpenSans-BoldItalic-webfont.woff") format('woff'), url("../fonts/OpenSans-BoldItalic-webfont.ttf") format('truetype'), url("../fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansExtrabold';
  src: url("../fonts/OpenSans-ExtraBold-webfont.eot");
  src: url("../fonts/OpenSans-ExtraBold-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/OpenSans-ExtraBold-webfont.woff") format('woff'), url("../fonts/OpenSans-ExtraBold-webfont.ttf") format('truetype'), url("../fonts/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansExtraboldItalic';
  src: url("../fonts/OpenSans-ExtraBoldItalic-webfont.eot");
  src: url("../fonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/OpenSans-ExtraBoldItalic-webfont.woff") format('woff'), url("../fonts/OpenSans-ExtraBoldItalic-webfont.ttf") format('truetype'), url("../fonts/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EntypoRegular';
  src: url("../fonts/entypo-webfont.eot");
  src: url("../fonts/entypo-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/entypo-webfont.woff") format('woff'), url("../fonts/entypo-webfont.ttf") format('truetype'), url("../fonts/entypo-webfont.svg#EntypoRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font: 100%/1.5 'OpenSansRegular', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
h1 {
  font: 2.25em/1.3 'OpenSansLight', Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}
h2 {
  font: 1.8em/1.3 'OpenSansLight', Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}
h3 {
  font: 1.25em/1.34 'OpenSansSemiBold', Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}
h4,
blockquote p {
  font: 1.152em/1.67 'OpenSansLightItalic', Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}
h5 {
  font: 1em/1.77 'OpenSansSemibold', Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}
h6 {
  font: 0.8em/1.9 'OpenSansRegular', Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}
h1 + h1,
h2 + h1,
h3 + h1,
h4 + h1,
h5 + h1,
h6 + h1 {
  margin: 0.6875em 0 0;
}
h1 + h2,
h2 + h2,
h3 + h2,
h4 + h2,
h5 + h2,
h6 + h2 {
  margin: 0.85em 0 0;
}
h1 + h3,
h2 + h3,
h3 + h3,
h4 + h3,
h5 + h3,
h6 + h3 {
  margin: 1.2em 0 0;
}
h1 + h4,
h2 + h4,
h3 + h4,
h4 + h4,
h5 + h4,
h6 + h4 {
  margin: 1.35em 0 0;
}
h1 + h5,
h2 + h5,
h3 + h5,
h4 + h5,
h5 + h5,
h6 + h5 {
  margin: 1.5em 0 0;
}
h1 + h6,
h2 + h6,
h3 + h6,
h4 + h6,
h5 + h6,
h6 + h6 {
  margin: 1.875em 0 0;
}
hgroup {
  margin: 1.5em 0;
}
hgroup > * {
  margin: 0 !important;
}
ul li:first-child hgroup,
ol li:first-child hgroup {
  margin-top: 0;
}
ul li:last-child hgroup,
ol li:last-child hgroup {
  margin-bottom: 0;
}
p,
ul,
ol,
pre,
td,
th,
blockquote {
  margin: 1.5em 0;
}
p + h1,
ul + h1,
ol + h1,
pre + h1,
td + h1,
th + h1,
blockquote + h1 {
  padding: 0.6875em 0 0;
}
p + h2,
ul + h2,
ol + h2,
pre + h2,
td + h2,
th + h2,
blockquote + h2 {
  padding: 0.85em 0 0;
}
p + h3,
ul + h3,
ol + h3,
pre + h3,
td + h3,
th + h3,
blockquote + h3 {
  padding: 1.2em 0 0;
}
p + h4,
ul + h4,
ol + h4,
pre + h4,
td + h4,
th + h4,
blockquote + h4 {
  padding: 1.35em 0 0;
}
p + h5,
ul + h5,
ol + h5,
pre + h5,
td + h5,
th + h5,
blockquote + h5 {
  padding: 1.5em 0 0;
}
p + h6,
ul + h6,
ol + h6,
pre + h6,
td + h6,
th + h6,
blockquote + h6 {
  padding: 1.875em 0 0;
}
ul,
ol {
  list-style-position: inside;
}
.content ul {
  list-style-type: disc;
}
.content ol {
  list-style-type: decimal;
}
.content ul,
.content ol {
  list-style-position: outside;
  padding: 0 0 0 1.5em;
}
.content ul li:first-child > *:first-child,
.content ol li:first-child > *:first-child {
  margin-top: 0;
}
.content ul li:last-child > *:last-child,
.content ol li:last-child > *:last-child {
  margin-bottom: 0;
}
.content ol li > ol,
.content ul li > ol {
  list-style-type: lower-alpha;
}
.content ol li > ol li > ol,
.content ul li > ol li > ol {
  list-style-type: lower-roman;
}
blockquote p {
  position: relative;
  padding: 0 1.5em 0 1.5em;
}
blockquote p:before,
blockquote p:after {
  position: relative;
  font-family: georgia;
  font-size: 2em;
  line-height: 0;
  color: #73b9ff;
}
blockquote p:before {
  content: '“';
  top: 0.3em;
  left: -0.5em;
  margin: 0 -0.4em 0 0;
}
blockquote p:after {
  content: '”';
  right: -0.1em;
  bottom: -0.3em;
}
strong {
  font-family: 'OpenSansSemiBold', Helvetica, Arial, sans-serif;
  font-weight: normal;
}
em {
  font-family: 'OpenSansItalic', Helvetica, Arial, sans-serif;
  font-style: normal;
}
small {
  font: 0.75em/1.5 'OpenSansRegular', Helvetica, Arial, sans-serif;
}
a {
  color: #006dd9;
  text-decoration: none;
}
a.secondary-link {
  line-height: 2.4em;
}
a.secondary-link ~ .secondary-link {
  margin-left: 1.5em;
}
ul.list-unstyled {
  list-style-position: inside;
  list-style: none;
  padding: 0;
}
body {
  background-color: #fafafa;
}
.outer {
  max-width: 1140px;
  padding: 0 3em;
  margin: 0 auto;
  *zoom: 1;
}
.outer:before,
.outer:after {
  content: "";
  display: table;
}
.outer:after {
  clear: both;
}
.inner {
  display: block;
  width: 102.08333333333333%;
  margin: 0 -1.0416666666666665%;
  *width: 102.08333333333333% -correction;
  *margin: 0 -1.0416666666666665% -correction;
}
header {
  padding: 1.5em 0;
  background-color: #fafafa;
  border-bottom: 1px solid #ebebeb;
}
header .logo {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  *width: 31.25% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
header .logo a {
  display: block;
  width: 100%;
  height: 3em;
  background: url("../img/logo.svg") no-repeat left center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  overflow: hidden;
  text-indent: -500%;
  color: transparent;
}
header nav {
  display: inline;
  float: left;
  width: 64.58333333333334%;
  margin: 0 1.0416666666666665%;
  *width: 64.58333333333334% -correction;
  *margin: 0 1.0416666666666665% -correction;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
header nav ul {
  margin: 0;
}
header nav ul li {
  float: left;
  margin: 0 0 0 3em;
}
header nav ul li a {
  font-size: 0.875em;
  text-transform: uppercase;
  color: #333;
  letter-spacing: 0.1em;
}
header nav ul li.current-menu-item a {
  color: #be1d2c;
}
#main {
  padding: 3em 0;
  background-color: #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ebebeb;
}
footer {
  padding: 1.5em 0;
  border-top: 1px solid #fff;
}
.content {
  display: inline;
  float: left;
  width: 56.25%;
  margin: 0 1.0416666666666665%;
  *width: 56.25% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
.content > *:first-child {
  margin-top: 0;
}
.content > *:last-child {
  margin-bottom: 0;
}
.sidebar {
  display: inline;
  float: left;
  width: 39.58333333333333%;
  margin: 0 1.0416666666666665%;
  *width: 39.58333333333333% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
.sidebar > *:first-child {
  margin-top: 0;
}
.sidebar > *:last-child {
  margin-bottom: 0;
}
.sidebar ul li ul {
  margin-bottom: 0;
}
