// Header //

header
	padding							1.5em 0
	background-color				header-bg
	border-bottom					1px solid lowlight

	.logo
		column(4)

		a
			display					block
			width					100%
			height					3em
			background				url('../img/logo.svg') no-repeat left center
			background-size			contain
			overflow				hidden
			text-indent				-500%
			color					transparent
	nav
		column(8)
		margin-top					0.8em
		margin-bottom				0.8em

		ul
			margin					0

			li
				float				left
				margin				0 0 0 3em
				
				a
					font-size		0.875em
					text-transform	uppercase
					color			black
					letter-spacing	0.1em

				&.current-menu-item a
					color			red