// Main //

#main
	padding						4.875em 0 3em
	border-top					1px solid highlight
	border-bottom				1px solid lowlight
	@media						(max-width: 768px)
		border					none
		padding					4.875em 0 1.5em

	.outer
		@media					(max-width: 768px)
			padding				0 1.5em
		