// Site-Wide Layouts //

body
	background-color			footer-bg

//// Determines maximum content width ////

.outer
	max-width					1140px
	padding						0 3em
	margin						0 auto
	clearfix()

//// Contains grid elements ////

.inner
	row(12)