// Color //

white		= 	#FFFFFF
off-white	=	darken(white, 2)
black		=	#333333
blue		=	#006DD9
red			=	#BE1D2C

//// Layouts ////

header-bg	=	off-white
main-bg		=	white
footer-bg	=	off-white

//// Effects ////

highlight	=	white
lowlight	=	darken(white, 8)