// Color //

white			= 	#FFFFFF
off-white		=	darken(white, 1)
black			=	#333333
blue			=	#006DD9
red				=	#BE1D2C

//// Layouts ////

header-bg		=	off-white
main-bg			=	white
footer-bg		=	black
footer-links	=	darken(off-white, 40)
mobile-menu-bg	=	black


//// Effects ////

highlight		=	white
lowlight		=	#EDF2F5