// Sermon

.sermon
	display							table
	width								100%
	margin-bottom				1.5em
	background					off-white
	border							2 * empx solid white
	border-radius				mobile-radius
	box-shadow					0 0 2 * empx 0 lighten(#000, 95)
	> *
		display						table-cell
	.play
		padding						0.75em
		border						empx solid darken(lowlight, 5)
		border-radius			mobile-radius 0 0 mobile-radius
		box-shadow				0 
		vertical-align		middle
		text-align				center
		background				lowlight
		.icon
			font-family			'Entypo'
			font-size				2.5em
			line-height			0
	hgroup
		padding						0.75em
		margin						0